body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color:bisque;
}

.header {
  background: linear-gradient(to right, #ff7e5f, #fcea23);
  text-align: center;
}

.logo img {
  width: 20rem;
  height: 20rem;
}

#slogan {font-size: 2em;}
  
.aboutus {
  border-radius: 10px;
  background-color: #1a5e89;
  color: whitesmoke;
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}

#hizmetlerimiz {
  border: 2px solid black;
  border-radius: 2em;
  max-width: 80%;
  padding: 10px 0px;
  font-size: 2em;
  margin: 1em auto; 
  
}


.content {
  padding: 20px;
  text-align: center;
  justify-self: space-between;
}

.photo { margin-bottom: 2em;}
 
.photos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  
}

.photo li {
  text-align: left;
  padding-left: 1rem;
  padding-top: 10px;
  font-size: 1.2em;
}

.photo img {
  min-width: 50px;
  max-width: 300px; 
}

.footer {
  background-color:darkslategrey;
  display: flex;
  justify-content:space-evenly;
}

.iletişim {
  color: white;
  padding-left: 2em;
}

.map iframe {
  max-width: 100%;
  height: auto;
}


